.marginsection{
    margin: auto;
    background-color: #eee;
}

.flex{
    display: flex;
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-right: 20px;
}

.block *{
    display: block;
    margin: 20px 0px;
}